  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300&family=Roboto:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300&family=Playfair&family=Roboto:wght@300&display=swap');


  * {
      margin: 0;
      padding: 0;
  }

  .sidebar {
      /* background-color: antiquewhite;    */
      background-color: gray;
      /* width: 300px; */
      position: absolute;
      height: 100vh;
      transition: transform 0.3s ease-in;
      font-family: 'DM Sans', sans-serif;
      /* font-family: 'Lato', sans-serif;
 font-family: 'Roboto', sans-serif; */
  }

  .sidebar nav {
      padding: 45px;
  }

  .sidebar nav ul li {
      list-style: none;
      font-size: 25px;
      padding: 33px 0;
      font-family: 'Playfair', serif;
  }

  .sidebar nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 30px;
  }

  .main {
      /* background-color: aqua; */
      width: 90vw;
  }

  .container {
      display: flex;
  }

  .infocontainer {
      /* background-color: burlywood; */
      height: 60vh;
      width: 80vw;
      margin: 144px auto;
      display: flex;
      justify-content: space-around;
  }

  .devinfo {
   font-size: 16px;
    margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
  }

  .hello{
      font-size: 3em;
      font-family: 'Playfair', serif;
  }

  .name{
      font-size: 3em;
      font-weight: bold;
      font-family: 'Playfair', serif;
  }

  .about {
      font-size: 2.5em;
      font-weight: 700px;
      font-family: 'Playfair', serif;
  }

  .aboutmore {
      font-size: 2em;
      font-weight: 500px;
      font-family: 'Playfair', serif;
  }

  .buttons {
      margin-top: 35px;
      font-size: 10px;
  }

  .btn {
      padding: 10px 15px;
      border-radius: 10px;
      color: black;
      background-color: gray;
      font-weight: bold;
      font-size: 2em;
      margin: 0 3px;
      cursor: pointer;
      font-family: 'Playfair', serif;
  }

  .btn:hover {
      color: black;
      background-color: white;
  }

  .devpic img {
      height: 60vh;
  }

  /* contact.html */
  .contactform {
      font-family: 'Playfair', serif;
      /* text-align: center; */
      padding: 0 34px;
      margin: 0px 90px;
      padding-top: 150px;

  }

  .contactform h1 {
      font-family: 'Playfair', serif;
      /* text-align: center; */
      font-size: 50px;
      margin-top: -90px;
      /* padding: 12px 0; */
  }

  .contactform form div {
      padding: 10px 0;
      font-size: 30px;
      display: flex;
      flex-direction: column;

  }

  .contactform form div input {
      /* width: 20vw; */
      border-radius: 5px;
      margin: 6px 0 0 0;
      padding: 3px;
      font-size: 20px;
  }
  .contactform form {
     margin: 0px 50px;
  }

  #emailHelp {
      font-size: 15px;
      color: darkblue;
      margin: 0 5px;
      padding: 3px 0 0 0;
  }

  #form-check {
      flex-direction: row;
  }

  #form-check input {
      width: 20px;
      margin: 3px 3px;
  }

  /* intro.html */

  .main{
    margin: 0px 90px;
  }

  h1 {
      font-size: 3em;
      margin: 10px 10px 10px 10px;
      font-family: 'Playfair', serif;
  }

  p {
      font-size: 40px;
      font-family: 'Playfair', serif;
      margin: 0 10px;
  }

  /* h2 {
      font-size: 3em;
      margin: 10px 5px;
  } */

  .skillcontainer nav ul li {
      margin: 3px 10px;
      font-size: 35px;
      list-style: none;
  }

  .skillcontainer {
      padding: 12px;
  }

  .skillitem {
      display: flex;
      /* justify-content: center; */
      align-items: center;
  }

  .skill {
      width: 265px;
      height: 6px;
      background-color: gray;
      margin: 3px 5px;
  }


  .hundred {
      width: 265px;
  }

  .eighty5 {
      width: 205px;
  }

  .seventy5 {
      width: 150px;
  }

  .fifty {
      width: 100px;
  }

  .thirty {
      width: 50px;
  }

  /* resume.html */

  .main img {
      margin: 50px 70px;
  }

  /* project.html */

  .procontainer{
    margin: 0px 90px;
  }

  .procontainer ul li {
      list-style: none;
      margin: 10px;
      font-size: 30px;
  }

  .procontainer h2 {
      margin-top: 70px;
  }

  .sidebarGo{
    transform: translate(-443px, 0px); 
        position: absolute;
  }

  .hamburger{
    position: absolute;
    cursor: pointer;
    top: -38px;
    left: -55px; 
  }

  .ham{
    margin-top: 10px;

  }

  .cross{
    margin-left: 155px;
    margin-top: 5px;
    /* margin:0px 45px; */
  }

  @media(max-width: 1615px) {
      * {
          /* background-color: cyan; */
      }

      .devinfo{
        font-size: 10px;
      }
/* 
       .devpic{
        /* display: none; */
      /* }  */ 

      .main, .contactform, .procontainer{
        margin: 50px 10px;
      }
      /* .sidebar{
        /* transform: translate(-443px, 0px); */
        /* position: absolute; */
      
  }